.heading{
    margin-top:20px;
    text-align: center;
}
.formContainer{
    background-color: #E8EAF6;
    width:80%;
    margin:50px auto;
    padding:80px 100px;
    border: 1px black;
    border-radius: 25px;
    .innerHeading{
    margin-bottom:30px;
    }

}